<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
	<h1>Cheese land</h1>
	<p id = p1>I need cheese! I need cheese! <br> 
		Didn't you know? It sends power to my knees! <br>
		So give it to me, please, pretty please, <br>
		my mood in all ways it does appease. <br>
		 <br>
		I'll have it on crackers, I'll have it on rye, <br>
		without the stuff I'll surely die. <br>
		I don't know how, I don't know why, <br>
		but take it away, and I'll sit down and cry!<br>
		 <br>
		I've got to have cheese, it's my heart's desire, <br>
		I've got to have cheese, for my body's on fire. <br>
		Without my cheese the results may be dire, <br>
		for without it I fear I may expire! <br>
	</p>
	<img src = "https://cdn.cdnparenting.com/articles/2018/03/2267283-H-1024x700.webp" width="300px">
	<ul>
	  <li><button>goat cheese</button></li>
	  <li><button>stinky cheese</button></li>
	  <li><button>mommy cheese</button></li>
	  <li><button>normal cheese</button></li>
	</ul>
	<a href="/product">go to product page</a>
	<br>
	<a href="/cart">go to cart</a>
</body>
</html>