<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
	<h1> lets waste your money on cheeese!</h1>
	<p>For the Love of Cheese<br>
		Listen please! I love cheese!<br>
		It’s yummy for breakfast melted on toast.<br>
		I like other foods too<br>
		But I love cheese the most.<br>
		<br>
		I like cheese for lunch<br>
		And for dinner and snacks.<br>
		Without lots of cheese added<br>
		All other food lacks.<br>
		<br>
		There’s so many cheeses<br>
		From all around the Globe,<br>
		Like Cambozola and Gruyere,<br>
		Schnebelhorn, Tomme de Savioe.<br>
		<br>
		There’s popular cheeses<br>
		Like Gouda and Cheddar,<br>
		Swiss Cheese and Feta,<br>
		Parmesan, Mozzarella.<br>
		<br>
		Some cheese has weird names<br>
		Such as Tipsy Goat,<br>
		Ewe Calf to be Kidding,<br>
		And Laughing Cow Swiss.<br>
		<br>
		But I like them all,<br>
		There’s not one I won’t try.<br>
		I’ll eat cheese on ice-cream<br>
		And on apple pie.<br>
	<p>
</body>
</html>
